@mixin projectLeft(){
    .project-left {
        display: flex;
        justify-content: flex-start;
        .project-box {
            width: 45em;
            height: 26em;
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 0px clamp(50px, 9vmax, 250px) clamp(15px, 3vmax, 100px) 0px;
                border: 5px solid rgb(173,164,226);
                border-left: 0px;
                object-fit: fill;
            }
        }
        .project-text {
            text-align: end;
            padding-top: 5%;
            padding-left: 4%;
            h2{
                font-size: 2.8em;
                color: #736be7;
            }
            p{
                color: #212122;
                font-size: 1.4em;
            }
            .project-buttons{
                padding-top: 38%;
                display: flex;
                justify-content: flex-end;
                gap: 35px;
                a{
                    img{
                        width: 1.9em;
                    }
                }
            }
        }
    }
}

@mixin projectRight(){
    .project-right {
        padding-top: 8%;
        display: flex;
        justify-content: flex-end;
        .project-box {
            width: 48em;
            height: 26em;
            img{
                width: 100%;
                height: 100%;
                border-radius: clamp(50px, 9vmax, 250px) 0px 0px clamp(15px, 3vmax, 100px);
                border: 5px solid rgb(173,164,226);
                border-right: 0px;
                object-fit: fill;
            }
        }
        .project-text {
            align-items: start;
            // text-align: start;
            padding-top: 5%;
            padding-left: 5%;
            h2{
                font-size: 2.8em;
                color: #736be7;
            }
            p{
                color: #212122;
                font-size: 1.4em;
            }
            .project-buttons{
                padding-right: 85%;
                padding-top: 15%;
                display: flex;
                justify-content: flex-end;
                gap: 35px;
                a{
                    img{
                        width: 1.9em;
                    }
                }
            }
        }
    }
}