&#about{
    display: grid;
    justify-content: center;
    align-items: center;
    .about-header{
        h1{
            text-align: center;
            font-size: 3rem;
        }
        h3{
            font-size: 1.2rem;
            text-align: center;
            color: #d3cccc;
            font-weight: 400;
        }
    }
    .about-space{
        margin-top: 7%;
        display: flex;
        width: 900px;
        height: 500px;
        
        img{
            width: 35%;
            height: 60%;
            border-radius: 5%;
            box-shadow: 0 4px 10px 0px rgb(0 0 0 / 20%);
        }
        .about-text{
            margin-left: 8%;
            text-align: start;
            padding-top: 1%;
            font-size: 1.3rem;
            color: #111111;
            p{
                font-weight: 500;
            }
        }
        
    }
}