&#about{
    height: calc(70vh);
    .about-header{
        h1{
            text-align: center;
            font-size: 3rem;
        }
        h3{
            font-size: 1.2rem;
            text-align: center;
            color: #d3cccc;
            font-weight: 400;
        }
    }
    .about-space{
        margin-top: 5%;
        display: flex;
        justify-content: center;
            
        .photo{
            width: 23%;
            height: 60%;
            border-radius: 5%;
            box-shadow: 0 4px 10px 0px rgb(0 0 0 / 20%);
        }
        .about-text{
            margin-left: 6%;
            text-align: start;
            padding-top: 1%;
            font-size: 1.3rem;
            color: #111111;
            p{
                font-weight: 500;
            }
    
            ul{
                li{
                    list-style-type: none;
                    padding-top: 2.5rem;
                    a{
                            
                        font-size: 0.9rem;
                        padding: 0.6rem;
                        padding-right: 1rem;
                        padding-left: 1rem;
                        border-radius: 6px;
                        color: #f1ecec;
                        background-color: #6C55E0;
                        text-decoration: none;
                        cursor: pointer;
                            
                        &:hover{
                            box-shadow: 0 5px 35px 0px rgb(0 0 0 / 10%);
                            background-color: #715bdf;
                        }
                    }
                }
            }
        }        
    }

    @media only screen and (max-width: 480px){
        .about-header{
            h1{
                text-align: center;
                font-size: 1.8rem;
            }
            h3{
                font-size: .8rem;
                text-align: center;
                color: #d3cccc;
                font-weight: 400;
            }
        }
        .about-space{
            margin-top: 5%;
            display: grid;
            place-items: center;
                
            .photo{
                
                width: 40%;
                height: 100%;
            }
            .about-text{
                text-align: center;
                margin-left: 6%;
                padding-top: 2em;
                font-size: 1em;
                color: #111111;
                p{
                    font-weight: 500;
                }
            }        
        }
    }
}
