&#skills{
    height: calc(100vh);
    justify-content: center;
    align-items: center;
    
    .skills-header{
        padding-top: 15%;
        h1{
            text-align: center;
            font-size: 3rem;
        }
        h3{
            font-size: 1.2rem;
            text-align: center;
            color: #d3cccc;
            font-weight: 400;
        }


    }
    .skills-space{
        display: flex;
        justify-content: center;
        padding-top: 5%;
        gap: 10px;
    /*
        .languages{
            padding-top: 40px;
            font-size: 1.1em;
            width: 350px;
            height: 300px;
            border: 1px solid #E7E7E7;
            border-radius: 10px;
            text-align: center;
            img{
                width: 20%;
            }
        }
    */

        %boxTemplate{
            padding-top: 40px;
            font-size: 1.1em;
            width: 350px;
            height: 300px;
            border: 1px solid #E7E7E7;
            border-radius: 10px;
            text-align: center;
        }
        .frontend{

            @extend %boxTemplate;
            

            img{
                width: 18%;
            }
            .f-box{
                display: flex;
                padding-top: 40px;
                padding-left: 80px;

                .react{
                    img{
                        width: 70%;
                     }
                }
                .scss{
                    img{
                        width: 35%;
                    }
                }
                
            }
            
        }
        .backend{
            @extend %boxTemplate;
            
            img{
                width: 20%;
            }

            .b-box{
                display: flex;
                justify-content: center;
                padding-top: 40px;
                padding-right: 60px;
                

                .nodejs{
                    img{
                        width: 25%;
                     }
                }
                .mongodb{
                    img{
                        width: 50%;
                    }
                }
                
            }
            
        }

    }

    //Mobile
    @media only screen and (max-width: 480px){
        .skills-header{
            padding-top: 15%;
            h1{
                text-align: center;
                font-size: 1.8rem;
            }
            h3{
                font-size: .8rem;
                text-align: center;
            }
    
    
        }
        .skills-space{
            display: flex;
            justify-content: center;
            padding-top: 5%;
            gap: 10px;
    
            %boxTemplate{
                font-size: .9em;
                width: 180px;
                height: 250px;
                text-align: center;
            }
            .frontend{
    
                @extend %boxTemplate;
                
    
                img{
                    width: 18%;
                }
                .f-box{
                    display: flex;
                    gap: 10px;
                    padding-top: 30px;
                    padding-left: 30px;
    
                    .react{
                        img{
                            width: 92%;
                         }
                         
                    }
                    .scss{
                        img{
                            width: 61%;
                        }
                    }
                    
                }
                
            }
            .backend{
                @extend %boxTemplate;
                
                img{
                    width: 20%;
                }
    
                .b-box{
                    display: flex;
                    gap: 20px;
                    padding-top: 25px;
                    padding-right: 30px;
                    padding-left: 40px;
                    
    
                    .nodejs{
                        img{
                            width: 84%;
                         }
                    }
                    .mongodb{
                        img{
                            width: 60%;
                        }
                    }
                    
                }
                
            }
    
        }
    }

}

