&#skills{
    height: calc(85vh);
    justify-content: center;
    align-items: center;
    
    .skills-header{
        padding-top: 15%;
        h1{
            text-align: center;
            font-size: 3rem;
        }
        h3{
            font-size: 1.2rem;
            text-align: center;
            color: #d3cccc;
            font-weight: 400;
        }
    }
    .skills-space{
        .frontend-dev{
            background-color: red;
            padding: 10px;
        }
    }

}

