&#projects{
    height: calc(110vh);    
    .projects-header{
        padding-top: 15%;
        h1{
            text-align: center;
            font-size: 3rem;
        }
        h3{
            font-size: 1.2rem;
            text-align: center;
            color: #d3cccc;
            font-weight: 400;
        }
    }
    .projects-space {
        padding-top: 5%;
        @include projectLeft();
        @include projectRight();
        @include projectRight2();
    }


        //Mobile
        @media only screen and (max-width: 480px){
            .projects-header{
                padding-top: 15%;
                h1{
                    font-size: 1.8rem;
                }
                h3{
                    font-size:.8rem;
                    text-align: center;
                }
            }
            .projects-space {
                padding-top: 5%;
                @include projectLeft_Mobil();
                @include projectRight_Mobil();
                @include projectRight2_Mobil();
            }
        }
}