&#projects{
    height: calc(85vh);    
    .projects-header{
        padding-top: 15%;
        h1{
            text-align: center;
            font-size: 3rem;
        }
        h3{
            font-size: 1.2rem;
            text-align: center;
            color: #d3cccc;
            font-weight: 400;
        }
    }
    .projects-space {
        padding-top: 5%;
        @include projectLeft();
        @include projectRight();
    }
}