nav{
    height: 100%;
    ul{
        height: 100%;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        margin-left: 7rem;
        margin-right: 10rem;
        margin-top: 2rem;
        li{
            list-style-type: none;
            background-color: transparent;
            
            &:nth-child(1){
                margin-right: auto;
                
            }
            a{
                font-weight: 500;
                font-size: 1.0rem;
                display: block;
                text-decoration: none;
                color: rgb(0, 0, 0);
                -webkit-transition: all 1200ms ease;
                -o-transition-property: all;
                &:hover{
                    transform: translateY(-2px);
                    color: rgb(17, 16, 16);
                    
                }
            }
            
        }
    }

    @media only screen and (max-width: 480px){
        ul{
            padding-left: 3.3em;
            li{
                &:nth-child(1){
                    padding-right: 4em;
                    
                    
                }
                a{
                    font-weight: 500;
                    font-size: .9rem;
                }
                
            }
        }
        
    }
}